.left-section
{
    width:300px;
    margin-right:30px;
    display: flex;
    align-items: center;

}
.hamburger-img
{
    height: 29px;
    margin-left: 20px;
    margin-right: 20px;

    
}
.youtube-img
{
    width:120px;
    justify-content: center;
}