
.middle-section
{
    width:600px;
    margin-left: 70px;
    margin-right: 35px;
    max-width: 600px;
    display: flex;
    align-items: center;
}
.search.bar
{
    display: flex;
      flex: 1;
      position: relative;
  

}
.voice-search
{
    height: 40px;
    width: 40px;
}
.search-bar
{
    border-color: rgb(255, 255, 255);
    border: solid;
    border-width: 1px;
    padding-left: 12px;
    font-size: 16px;
    border-radius: 2px;
   width: 450px;
   height: 35px;
}
.search-bar::placeholder
{
    font-size: 16px;
}
.abc-one
{
    margin-left: -1px;
    border-width: 1px;
    height: 40px;
    width: 66px;
}
.voice-search
{
    margin-left: 10px;
    border-radius: 32px;
    border:none;
}
.def-one
{
    height: 25px;
}