.right-section
{
    flex: 1;
    margin-left:30px;
    display: flex;
    align-items: center;
    justify-content: end;
    width: 150px;
    flex-shrink: 0;
    
}
.upload-icon
{
    height: 28px;
    margin-right: 30px;
    cursor: pointer;

}
.notifications-icon
{
    height: 28px;
     margin-right: 30px;
    cursor: pointer;
}
.apps-icon
{
    height: 28px;
     margin-right: 30px;
     cursor: pointer;

}
.current-profile
{
    height: 34px;
    border-radius: 38px;
    cursor: pointer;

}

