
.image-one
{
    width: 100%;
    display: block;
    
}
.thumnail-row
{
    position: relative;
}


.video-time
{
     background: rgba(0,0,0,0.7);
    color: #fff;
    padding: 2px 6px;
    border-radius: 4px;
    font-size: 0.8rem;
    position: absolute;
    bottom: 8px;
    right: 8px;
    transition: background 0.3s ease, color 0.3s ease;

}

.video-name {
  display: -webkit-box;
  -webkit-line-clamp: 2;
  -webkit-box-orient: vertical;
  overflow: hidden;

  
    font-family: Roboto, Arial;
    
    font-size: 14px;
    font-weight:bold;

    margin-bottom: 0px;

}


.video-author
{
    font-family: Roboto, Arial;
    font-size: 12px;
    display: block;
    margin-top: 10px;
    margin-bottom: 0px;
}
.video-details
{
    font-family: Roboto, Arial;
    font-size:12px;
    display: block;
    margin-top: 2px;
}
.profile-1
{
    border-radius: 36px;
    width: 30px;
    margin-right: 10px;
    margin-top: 20px;
    display: inline-block;

}
.one
{
    display: inline-block;
    vertical-align: top;
    margin-bottom: 20px;

}

.video-info {
  display: inline-block;
  vertical-align: top;
  width: calc(100% - 50px);
}


.detail-1
{
    display: inline-block;
}

.video-grid {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(280px, 1fr));
  gap: 20px;


  
}

.informations
{
    width:100%;
}
.image-one,.profile-1,.video-name
{
    cursor: pointer;
}


.first {
    transition: transform 0.3s ease, box-shadow 0.3s ease;
    position:relative
    background-color : white;
    border-radius : 8px;
    overflow : hidden;
    cursor : pointer;
    
    flex-direction: column;
    gap: 8px;
}

.first:hover {
    transform: translateY(-5px);
    box-shadow: 0 0 10px #ff073a, 0 0 20px #8c0620, 0 0 30px #a70424;
}


.one img {
    border-radius: 50%;
    transition: transform 0.3s ease;
}

.first:hover .one img {
    transform: scale(1.1);
}

.video-time {
    background: rgba(0,0,0,0.7);
    color: #fff;
    padding: 2px 6px;
    border-radius: 4px;
    font-size: 0.8rem;
    position: absolute;
    bottom: 8px;
    right: 8px;
    transition: background 0.3s ease, color 0.3s ease;
}

.first:hover .video-time {
    background: #bb0328;
    color: #fff;
}
